body{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root{
    background-color: #c3c3c3;
    height: 200px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(25, 24, 24);
    border-radius: 100px;
    padding: 30px;
    font-size: small;
}

/* { value = length krke barabar rakha h taaki length aur value attach hojaaye jitna value badhega range ka same length bhi badhega  } */

label{
    font-size: 18px;
}